* {
	margin: 0;
	padding: 0;
	border: none;
}

.App {
	background: black;
	height: auto;
	width: 82vw;
	overflow: hidden;
	align-items: center;
	padding: 20px 8vw;
}
.header {
	display: flex;
	flex-direction: row;
	height: 100px;
}
.title {
	width: 200px;
	height: 100px;
	margin-left: 10px;
}
.subtitle {
	margin-top: -32px;
	margin-left: -10px;
	width: 500px;
	height: 160px;
}
